# Configuration created by Apache Sling JCR Installer
schedulerName="Workflow\ Status\ Configuration"
enabled=B"false"
subject="Workflow\ Report\ from\ AEM"
ccEmail="raj.amirishetti@gmail.com"
fromEmail="rajashekar2475@gmail.com"
cronExpression="0\ 0/1\ *\ 1/1\ *\ ?\ *"
toEmail="raj.amirishetti@gmail.com"
