# Configuration created by Apache Sling JCR Installer
scripts=["create\ service\ user\ testSystemUser\ with\ path\ /home/users/system/system-user","set\ ACL\ for\ testSystemUser\r\nallow\ jcr:read,\ rep:write\ on\ /content/aemfeb\r\nallow\ jcr:read\ on\ /conf/aemfeb\r\nallow\ jcr:read\ on\ /apps\r\nend","create\ group\ aemfeb-users\ with\ path\ /home/groups/aemfeb-users\r\nset\ ACL\ for\ aemfeb-users\ \r\nallow\ jcr:read,\ rep:write\ on\ /content/aemfeb\r\nallow\ jcr:read,\ rep:write\ on\ /conf/aemfeb\r\nallow\ jcr:read,\ rep:write\ on\ /apps/aemfeb\r\nallow\ jcr:read,\ rep:write\ on\ /home\r\nallow\ jcr:read\ on\ /\r\nend","create\ user\ aemfeb-admin\ with\ path\ /home/users/aemfeb\ with\ password\ 12345\r\nadd\ aemfeb-admin\ to\ group\ aemfeb-users"]
references=[""]
